@charset "utf-8";

/* slider */
.slider {
    width: 100%;
    height: 430px;
    background: #e6e9f6;
}

.sliderWrap {
    width: 950px;
    margin: 0 auto;
    padding: 35px 0;
    position: relative;
}

.sliderEvent {
    width: 700px;
    height: 300px;
    position: relative;
}

.sliderEvent img {
    width: 100%;
}

.recent a {
    display: block;
    width: 175px;
    height: 310px;
    float: left;
    text-align: center;
}

.recent a:not(:first-child) {
    padding: 18px 0 0 0;
}

.re_name {
    padding: 0 8px;
    display: block;
    font-size: 12px;
    padding-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.re_comment {
    height: 57px;
    font-size: 11px;
    padding: 12px 9px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.re_bookTitle {
    width: 100%;
}

.re_book img {
    width: 129px;
    height: 182px;
}

.re_book:hover {
    background-color: #dadde9
}

.hotIssue {
    padding-top: 20px;
}

.sliderBtn {
    margin-top: 21px;
    width: 700px;
}

.sliderBtn li {
    width: 100px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #d7d7d7;
    border-right: none;
    padding: 10px 0;
    text-align: center;
    background: #fff;
    cursor: pointer;
    position: relative;
}

.slider_on {
    background: #5e6b9e !important;
    color: #fff;
    border-top: 3px solid #353f67 !important;
    padding: 9px 0 !important;
}

.sliderBtn li:last-child {
    border-right: 1px solid #d7d7d7;
}

.slideBox {
    width: 230px;
    height: 250px;
    display: block;
    float: left;
}

.theme, .sam, .limit {
    padding-top: 25px;
}

.slideBox:nth-child(2) {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}

.slideBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sliderEvent button {
    position: absolute;
    top: 126px;
    width: 30px;
    height: 34px;
    border: none;
    display: block;
    cursor: pointer;
}

.prevBtn {
    left: 0;
    background: url("../img/ico_arrowslide.png") no-repeat 0 0;
}

.prevBtn:hover {
    background-position: 0 100%;
}

.nextBtn {
    right: 0;
    background: url("../img/ico_arrowslide.png") no-repeat 100% 0;
}

.nextBtn:hover {
    background-position: 100% 100%;
}

.btn_pause, .btn_play {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.btn_play {
    background: url('../img/interval.png') no-repeat 0 100% !important;
}

.btn_pause {
    background: url('../img/interval.png') no-repeat 0 0;
}

/* 슬라이드 display */
.recent {
    display: block;
}

.hotIssue, .newBook, .theme, .eBook, .sam, .limit {
    display: none;
}

/* 출판사 북캐스트 */
.bookCast {
    position: absolute;
    width: 230px;
    height: 362px;
    background: #fff;
    top: 34px;
    right: 0;
    border: 1px solid #d7d7d7;
    text-align: center;
    padding: 0 13px;
}

.bc_titleBox {
    border-bottom: 1px solid #dadada;
    padding: 20px 0;
}

.bc_title_imgCover {
    width: 200px;
    height: 100px;
    overflow: hidden;
    margin: 10px auto;
}

.bc_title_imgCover img {
    width: 100%;
    transform: translateY(-55px)
}

.bc_title {
    font-size: 13px;
}

.bc_contxt {
    font-size: 12px;
    margin-top: 4px;
}

.bc_list {
    font-size: 13px;
    text-align: left;
    padding: 15px 0 0 2px;
}

.bc_list li {
    background: url("../img/ico_list_dot.gif") no-repeat 0 9px;
    padding-left: 10px;
    line-height: 22px;
}

/* ad */
.bookAd {
    width: 100%;
    height: 130px;
    background: #f9f9f9;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.eventAd {
    height: 55px;
    border-bottom: 1px solid #d7d7d7;
}

.ad ul {
    width: 950px;
    margin: 0 auto;
    font-size: 0px;
}

.bookAd li, .eventAd li {
    float: left;
    width: 33.33%;
}

.bookAd li:nth-child(2), .eventAd li:nth-child(2) {
    border-left: 1px solid #d7d7d7;
}

.bookAd li:last-child, .eventAd li:last-child {
    border-left: 1px solid #d7d7d7;
}

/* 오늘의 책 */
.todayBook {
    width: 950px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.tbCategory h4 {
    display: inline-block;
    margin-right: 15px;
}

.tbCategory ul {
    display: inline-block;
    vertical-align: sub;
}

.tbCategory ul li {
    float: left;
    margin: 0 4px;
}

.tbCategory ul li a {
    font-size: 13px;
    font-weight: 600;
    color: #555;
    padding: 3px 7px;
}

.tbContBox {
    width: 630px;
    height: 320px;
    border: 1px solid #8885a0;
    margin-top: 15px;
    display: flex;
    position: relative;
}

.tbLeft {
    width: 275px;
    height: 100%;
    background: #fafafa;
    position: relative;
}

.tbLeft li {
    position: absolute; 
    background: url("../img/bg_book.png") no-repeat;
    background-size: contain;
}

.tbLeft li:first-child {
    top: 40px;
    left: 85px;
    z-index: 3;
    width: 115px;
    height: 175px;
}

.tbLeft li:first-child::after {
    content: "";
    background: url("../img/bg_book_shadow.png") no-repeat;
    display: block;
    position: absolute;
    bottom: 0;
    right: -23px;
    width: 24px;
    height: 17px;
}

.tbLeft li:nth-child(2) {
    top: 75px;
    right: 10px;
    z-index: 2;
    width: 90px;
    height: 120px;
    opacity: 0.5;
}

.tbLeft li:last-child {
    top: 75px;
    left: 22px;
    z-index: 1;
    width: 90px;
    height: 120px;
    opacity: 0.5;
}

.tbLeft li a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.tbLeft li:first-child img {
    position: absolute;
    top: 5px;
    left: 1px;
    width: 112px;
    height: 169px;
    object-fit: cover;
}

.tbLeft li:nth-child(2) img, .tbLeft li:last-child img {
    position: absolute;
    top: 5px;
    left: 1px;
    width: 76px;
    height: 114px;
    object-fit: cover;
}

.tbTitlebar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 3.5;
    background: rgba(94, 107, 158, 0.8);
    color: #fff;
    padding: 0 15px;
    font-weight: 600;
    font-size: 15px;
}

.tbTitle {
    color: #fff;
    vertical-align: middle;
}

.tbAuthor {
    font-size: 11px;
    font-weight: 400;
    padding-left: 20px;
}

.tbPublish {
    font-size: 11px;
    font-weight: 400;
}

.tbline {
    font-size: 11px;
    color: #c6c6c6;
    padding: 0 7px;
}

.tb_indiBox {
    position: absolute;
    bottom: 72px;
    left: 110px;
}

.tb_indi {
    float: left;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px solid #666;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.indi_on {
    background: #666 !important;
}

.bookAd2 {
    width: 300px;
    height: 320px;
    border: 1px solid #dadada;
    position: absolute;
    top: 86px;
    right: 0;
    overflow: hidden;
}

.bookAd2 a {
    padding-left: 10px;
}

.bookAd2 a:first-child {
    display: block;
    width: 100%;
    height: 65%;
    border-bottom: 1px solid #dadada;
}

.bookAd2 a:first-child img {
    position: relative;
    top: -2px;
}

/* 쇼핑가이드 */
.shopping_guide_ab {
    position: absolute;
    top: 82px;
    right: -85px;
}

.shopping_guide_fix {
    position: fixed;
    bottom: 0;
    margin-left: 972px;
}

.guide_hover {
    margin: 4px 0;
}

.guide, .guide_sale {
    border: 1px solid #d2d2d2;
    width: 61px;
    height: 114px;
}

.guide img, .guide_sale img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.guide_top, .guide_bot {
    width: 63px;
    height: 36px;
    background: #f9f9f9;
    display: block;
    border: 1px solid #d2d2d2;
    overflow: hidden;
    cursor: pointer;
}

.guide_top img {
    position: relative;
    left: 15px;
}

.guide_bot img {
    position: relative;
    right: 25px;
}

.guide_recent {
    width: 63px;
    height: 50px;
    background: #5e6b9e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.guide_hover:hover {
    border: 1px solid #aaa;
    transition: border 0.3s;
}

/* 화제의 신간 */
.hotNewBook {
    width: 950px;
    margin: 0 auto;
}

.nbCategory h4 {
    display: inline-block;
    margin-right: 15px;
}

.nbCategory ul {
    display: inline-block;
    vertical-align: sub;
}

.nbCategory ul li {
    float: left;
    margin: 0 4px;
}

.nbCategory ul li a {
    font-size: 13px;
    font-weight: 600;
    color: #555;
    padding: 3px 7px;
}

.category_on {
    background: #9cafe9;
    color: #fff !important;
}

.category_off {
    background: none;
    color: #555;
}

.nbContBox ul, .recContBox ul {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.nbContBox li, .recContBox li {
    width: 210px;
    height: 305px;
    border: 1px solid #dadada;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nbBookList li img, .recContBox li:not(:first-child) img {
    width: auto;
    height: auto;
    border: 1px solid #888;
}

.genre {
    font-size: 11px;
    color: #3e74ab;
    padding: 8px 0 6px 0;
}

.bookName {
    display: block;
    width: 148px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    height: 30px;
    overflow: hidden;
}

/* Picks 추천 샘플 */
.recommend {
    width: 950px;
    margin: 0 auto;
    padding-top: 40px;
}

.recBookList li:first-child img {
    width: 120px;
    height: 120px;
    margin: 20px 0;
}

.recBookList a {
    color: #4d4d4d;
}

.recField {
    display: block;
    font-size: 12px;
    line-height: 1.6;
    float: left;
}

.infoPicks {
    background: #f5f5f5;
}

.infoPicks a {
    padding-left: 24px;
}

.keywordPick {
    width: 100%;
    background: #f5f5f5;
    font-size: 13px;
    padding: 14px 16px;
    display: flex;
    margin-top: 18px;
}

.keywordPick strong {
    padding: 6px 16px;
    background: #f5f5f5;
    margin-right: 20px;
    border-right: 1px solid #c1c1c1;
}

.keywordPick ul li {
    margin-right: 8px;
    float: left;
}

.keywordPick ul li a {
    padding: 6px 12px;
    background: #fff;
    float: left;
    color: #000;
    border-radius: 15px;
    border: 1px solid #ccc;
}

/* ONLY 교보문고 */
.onlyKyobo {
    width: 100%;
    margin: 45px 0;
    display: flex;
    align-items: center;
    font-size: 0;
}

.onlyKyoboTitle {
    padding: 32px 27px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.onlyKyoboList {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin-left: 20px;
    padding: 0 51px;
}

.onlyKyoboList li {
    float: left;
    margin: 9px 5px;
}

.onlyKyoboList img {
    filter: grayscale(100%);
    opacity: 0.6;
}

.onlyKyobo img:hover {
    filter: grayscale(0%);
}

/* 지금 뜨는 HOT템 */
.hotItem {
    width: 100%;
    background: #f3f3f3;
}

.hotItemCont {
    width: 950px;
    height: 290px;
    margin: 0 auto;
}

.hotItemCont ul {
    float: right;
}

/* 이럴 땐 이런 책 */
.whenThisBook {
    width: 950px;
    margin: 50px auto;
    clear: both;
}

.whenThisBook > h4 {
    padding-bottom: 20px;
}

.whenThisBook img {
    float: left;
}

.whenThisCont {
    display: flex;
    justify-content: space-between;
}

.whenThisCont > li {
    width: 220px;
    height: 325px;
    border: 1px solid #dadada;
    margin-left: 22px;
}

.wt_titleBox { 
    color: #fff;
    padding: 7px 10px;
}

#wt_think .wt_titleBox {
    background: #59a1c2;
}

#wt_know .wt_titleBox {
    background: #dfaa1d;
}

#wt_people .wt_titleBox {
    background: #5f9943;
}

.wt_titleBox strong {
    font-size: 13px;
    margin-right: 72px;
}

.wt_titleBox span {
    font-size: 12px;
    padding: 3px 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    position: relative;
    top: -1px;
}

.wt_contentBox {
    padding: 18px;
}

.wt_contentBox a {
    color: #000;
    font-size: 13px;
    font-weight: 800;
}

.wt_cover {
    width: 185px;
    height: 105px;
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;
}

.wt_cover img {
    position: absolute;
    width: 100%;
    top: -40px;
    left: 0;
}

.wt_contentBox ul {
    margin-top: 11px;
}

.wt_contentBox ul li {
    background: url("../img/ico_list_dot.gif") no-repeat 4% 50%;
    padding: 0 0 3px 18px;
    margin: 2px 0;
    border-bottom: 1px solid #dadada;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wt_contentBox ul li a {
    font-weight: 400;
    letter-spacing: -0.5px;
    white-space: nowrap;
}

/* 스토리 K */
.storyK {
    width: 950px;
    margin: 50px auto;
    position: relative;
}

.storyK > h4 {
    padding-bottom: 20px;
}

.sk_menuBtn {
    position: absolute;
    top: 0;
    right: 0;
}

.sk_menuBtn a {
    display: block;
    float: left;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #666;
    padding: 6px 8px;
    width: 110px;
    background: url("../img/ico_arrowzip.png") no-repeat 93px -51px;
    margin-left: 6px;
}

.sk_wrap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sk_wrap li {
    text-align: center;
    padding: 25px 5px;
    width: 25%;
}

.sk_imgbox {
    position: relative;
    width: 182px;
    height: 182px;
    margin: 0 auto;
    overflow: hidden;
}

.sk_imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.sk_category {
    background: url("../img/sk_cover.png") no-repeat;
    width: 182px;
    height: 182px;
    position: absolute;
    top: 0;
    left: 0;
}

.sk_category > span {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 14px;
}

.sk_title {
    font-size: 13px;
    font-weight: 800;
    padding-top: 15px;
    width: 196px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sk_summary {
    font-size: 13px;
    color: #666;
    width: 196px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
    padding-top: 3px;
}

/* 베스트셀러 */
.bestSeller {
    width: 100%;
    background: url("../img/bg_bestseller.gif") no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.bestSellerWrap {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

.bs_bookWrap {
    width: 750px;
    background: #fff;
    padding: 40px;
    margin-top: 20px;
}

.bs_bookWrap ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.bs_on {
    display: flex;
}

.bs_bookBox {
    width: 100px;
    height: 221px;
    text-align: center;
    margin: 20px 10px;
    position: relative;
}

.bs_bookBox:first-child, .bs_bookBox:nth-child(6) {
    width: 130px;
}

.bs_bookBox > h4 {
    text-align: left;
    padding: 0 0 5px 20px;
    color: #999;
}

.bs_rank {
    background: url("../img/bg_book.png") no-repeat;
    width: 100px;
    height: 150px;
    display: block;
    background-size: contain;
    position: relative;
    margin: 0 auto;
}

.bs_bookCover {
    background: url("../img/bg_book.png") no-repeat;
    width: 70px;
    height: 105px;
    display: block;
    background-size: contain;
    position: relative;
    margin: 0 auto;
}

.bs_bookCover img, .bs_rank img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 0;
    border: 1px solid #a9a9a9;
    transition: all 0.2s;
}

.bs_bookBox:hover .bs_bookCover img, .bs_bookBox:hover .bs_rank img {
    border: 1px solid #454545;
    box-shadow: 2px 2px 2px #ddd;
}

.bs_title {
    font-size: 13px;
    font-weight: 600;
    padding: 14px 0 2px;
    overflow: hidden;
    max-height: 50px;
}

.bs_author {
    font-size: 12px;
    color: #666;
    display: block;
    line-height: 1.4;
    padding-top: 6px;
}

.rankNum {
    position: absolute;
    background: url("../img/bs_label.png") no-repeat -40px 0;
    width: 33px;
    height: 38px;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center !important;
    font-size: 22px;
    letter-spacing: -1px;
    color: #fff !important;
    padding: 0 !important;
}

.bs_bookBox:nth-child(6) .rankNum {
    background-position-x: 0;
}

.bs_sideBox {
    width: 190px;
    height: 602px;
    background: #fff;
    position: absolute;
    top: 42px;
    right: 0;
    text-align: center;
}

.bs_sideBtn {
    width: 100%;
    font-size: 0;
    text-align: center;
}

.bs_sideBtn h3 {
    display: inline-block;
    width: 50%;
    font-size: 13px;
    letter-spacing: -0.5px;
    background: #dfdfdf;
    color: #666;
    line-height: 3.5;
    border-bottom: 1px solid #5e6b9e;
}

.bs_side_top, .bs_side_bot {
    width: 100%;
    padding: 30px 25px;
    height: 252px;
    position: relative;
}

.recomBook .bs_side_bot {
    padding: 60px 25px;
}

.bs_side_top li, .bs_side_bot li {
    display: none;
}

.bs_side_cover {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    position: relative;
}

.bs_side_cover img {
    width: 100%;
    height: 100%;
}

.bs_side_cover::after {
    content: "";
    width: 128px;
    height: 128px;
    background: url("../img/ico_ytb.png") no-repeat 0 0;
    position: absolute;
    left: 0;
    top: 0;
}

.bs_side_title, .bs_side_comment {
    font-size: 13px;
    letter-spacing: -0.5px;
}

.bs_side_title {
    padding-top: 10px;
}

.bs_side_comment {
    display: block;
    padding-top: 5px;
    color: #666;
}

.bs_side_bookTitle {
    font-size: 13px;
    font-weight: 600;
    padding-top: 20px;
}

.bs_side_bot::before {
    content: "";
    width: 40px;
    border: 2px solid #bcbcbc;
    display: block;
    position: absolute;
    top: -5px;
    left: 38%;
}

.bs_side_top {
    margin-top: 25px;
}

.booktuber {
    display: none;
}

.btn_on {
    background: #5e6b9e !important;
    color: #fff !important;
}

.recomBook {
    display: none;
}

.recomBookCover {
    background: url("../img/bg_book.png") no-repeat 0 0;
    background-size: contain;
    width: 70px;
    height: 110px;
    display: block;
    margin: 0 auto;
}

.recomBookCover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 4px;
}

.recomTitle {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
}

.recomBook button {
    position: absolute;
    top: 32%;
    display: block;
    border: none;
    width: 12px;
    height: 22px;
    cursor: pointer;
}

.recoPrevBtn {
    background: url("../img/ico_arrow2.png") no-repeat 0 -90px;
    left: 18px;
}

.recoPrevBtn:hover {
    background: url("../img/ico_arrow2.png") no-repeat -40px -90px;
}

.recoNextBtn {
    background: url("../img/ico_arrow2.png") no-repeat -20px -90px;
    right: 18px;
}

.recoNextBtn:hover {
    background: url("../img/ico_arrow2.png") no-repeat -60px -90px;
}

.bs_side_bot button {
    top: 45%;
}

/* 이주의 책 */
.weekBook {
    width: 950px;
    margin: 50px auto;
}

.weekBookWrap {
    margin-top: 20px;
}

.wb_bookBox {
    width: 150px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
}

.wb_bookBox:first-child {
    margin-left: 0;
}

.wb_bookBox:last-child {
    margin-right: 0;
}

.wb_bookBox > div {
    width: 150px;
    height: 190px;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wb_bookCover {
    background: url("../img/bg_book.png") no-repeat;
    background-size: contain;
    width: 95px;
    height: 145px;
    display: block;
}

.wb_bookCover img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 4px;
}

.wb_title {
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    height: 53px;
}

.wb_comment {
    display: block;
    font-size: 12px;
    color: #777;
    padding: 10px;
    padding-top: 0;
}

/* Klover 평점 좋은책 */
.klover {
    width: 950px;
    margin: 60px auto 90px;
}

.klover > h4 {
    padding-bottom: 20px;
}

.kl_mainBox {
    width: 214px;
    height: 400px;
    background: #f9f9f9;
    border: 5px solid #e3e3e3;
    float: left;
    text-align: center;
    padding: 10px 20px;
    position: relative;
}

.kl_mainBox img, .kl_sideBox li img {
    width: 127px;
    height: 168px;
    object-fit: cover;
    display: block;
    margin: 15px auto 12px;
    border: 1px solid #e3e3e3;
}

.kl_sideBox {
    display: inline-block;
    width: 700px;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-left: 30px;
    text-align: center;
}

.scoreImg {
    width: 50px;
    height: 50px;
    background: url("../img/ico_klover.png") no-repeat -290px 0;
    margin: 0 auto;
}

.kl_genre {
    font-size: 12px;
    color: #3e74a2;
    margin-bottom: 6px;
}

.kl_title {
    font-size: 13px;
    display: block;
    margin-bottom: 3px;
}

.kl_author {
    color: #666;
    font-size: 12px;
    display: block;
    padding-top: 6px;
}

.kl_bookScore {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
}

.scoreNum {
    font-size: 13px;
    font-weight: 600;
}

.kl_sideBox ul {
    display: flex;
    justify-content: space-evenly;
}

.kl_sideBox li {
    width: 160px;
    height: 400px;
    position: relative;
    padding-top: 30px;
}

/* 감성메이커 */
.sentiMaker {
    width: 950px;
    margin: 50px auto 80px;
}

.sentiMaker ul {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.sentiMaker li {
    width: 219px;
    text-align: center;
}

.mk_imgBox {
    width: 219px;
    height: 219px;
    border: 1px solid #dadada;
    margin-bottom: 10px;
    position: relative;
}

.mk_imgBox img {
    height: 100%;
}

.mk_imgTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    line-height: 4;
    font-weight: 800;
    font-size: 15px;
}

.mk_category, .mk_title {
    font-size: 13px;
}

/* popup */
.popup {
    position: fixed;
    bottom: -173px;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
}

.popup_close {
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    border-radius: 50%;
    top: 65px;
    right: 16px;
    cursor: pointer;
}